*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.aling-center{
    align-items: center;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    background-color: #02918c;
}
nav .logo{
width: 30%;
}
nav .menu{
    width: 70%;
}nav .menu ul{
    text-align: right;
}
nav .menu ul li{
    display: inline-block;
}

nav .menu ul li a{
    font-weight: 800;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    padding: 26px 25px;
    display: block;
    transition: 800ms;
    position: relative;
    z-index: 1;
}

nav .menu ul li:hover a{
    background-color:#01384A;
    border-radius: 5px;
}


/* Banner Start's  */
#banner{
    background-image: url(../image/banner.jpg);
    height: 730px;
    background-size: cover;
    background-position: center;
}
#banner .row{
    height: 730px;
 }
 #banner .bannercnt{
    text-align: center;
    color: white;
    width: 100%;
 }
 #banner .bannercnt h3{
    font-weight: 400;
    font-size: 30px;
 }
 #banner .bannercnt h1{
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 30px;
 }
 #banner .bannercnt p{
    font-size: 18px;
    font-weight: 400;
 }
 #banner .bannercnt img{
    margin: 48px 0;
 }

 #banner .bannercnt a{
    width: 196px;
    height: 48px;
    background-color: #cfc91d;
    display: block;
    margin: auto;
    font-size: 14px;
    font-weight: 800;
    color:#0b1016;
    text-transform: uppercase;
    line-height: 48px;
 }
 
/* Banner End's */
/* About part star's */
#about .group{
    background-color: #ffffff;
    text-align: center;
    margin: 90px 30px 0 0;
}
#about .group h1{
    color: #02918c;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 800;
}
#about .group img{
    margin: 15px;
}
#about .group p{
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
}
#about .group span{
    font-size: 23px;
    font-weight: 800;
    color: #7e8287;
}
/* About part End's */